<h1>Index</h1>
<%= form_tag root_path, method: :post, remote: true, id: "search-form" do %>
  <p>
    <%= radio_button_tag "option", "all", true %> All
	  <%= radio_button_tag "option", "published" %> Published
  	<%= radio_button_tag "option", "showed" %> Showed
  	<%= button_tag "Clear", type: "button" %>
  </p>
  <div class="input-group form-group">
    <script>
      $(function(){
      	$('#search-btn').click(function(e){
      		$('form#search-form').submit();
      	});
      	$('button[name=button]').click(function(e){
      		e.preventDefault();
      		$('#search').val('');
      		$('form#search-form').submit();
      	});
      });
    </script>
    <%= text_field_tag "search", params[:search] , class: "form-control"%>
    <span class="input-group-addon" id="search-btn">
      <i class="fa fa-icon fa-search"></i>
    </span>
  </div>
<% end %>
<script>
  $(function(){
    $('input[type=radio][name=option]').on('change', function(e){
      $('form#search-form').submit();
    });
  });
</script>
<br>
<div id="videos">
  <%= render 'videos/videos' %>
</div>