<% @videos.each_with_index do |video, index| %>
  <tr>
    <td>
      <%= video.created_at.strftime("%I:%M:%p") %>
      <br>
      <%= video.created_at.strftime("%d/%m/%Y") %>
    </td>
    <td> <%= video.title %> </td>
    <td id="video_<%= video.id%>_status">
      <%= render partial: 'admin/video_status', locals: {video: video} %>
    </td>
    <td id="video_<%= video.id %>_actions">
      <%= render partial: 'admin/video_actions', locals: {video: video} %>
    </td>
  </tr>
<% end %>