<%= form_for(@video, :html => { :multipart => false, :id => "fileupload"  }) do |f| %>
  <% if false && @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
      <ul>
        <% @video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= render partial: 'videos/upload_video', locals: {f: f} %>
  </div>
  <button type="submit" class="btn btn-primary start">
    <i class="fa fa-upload"></i>
    <span>Upload</span>
  </button>
  <%= link_to videos_path, class: "btn btn-default" do %>
    <i class="fa fa-times"></i>
    Cancel
  <% end %>
<% end %>