<%= form_for(@video, html: { id: "fileupload", format: :json }) do |f| %>
  <% if false && @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
      <ul>
        <% @video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <% unless @video.new_record? %>
    <%= link_to @video do %>
      <%= image_tag "/img/default_thumbnail.png", style:"width: 196px; height: 110px;", id: "video_#{@video.id}" %>
      Updated at: <i><%= @video.updated_at %></i>
    <% end %>
  <% end %>
  <div class="field" style="margin-top: 10px;">
    <%= render partial: 'videos/upload_video', locals: {f: f} %>
  </div>
<% end %>