<%= form_for(@user, url: user_profile_path(@user), html: {method: :put}) do |f| %>
  <% if false && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <script>
      $(function(){
        $('#user_birthdate').datepicker({
          format: "dd/mm/yyyy",
          startDate: "01/01/1900",
          endDate: "<%= Date.today %>",
          defaultViewDate: {year: 1990, month: 01, day: 01}
        });
      })
    </script>
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate, class: "form-control", placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
    <%= image_tag @user.avatar.url %>
  </div>
  <div>
    <%= f.submit "Update", class: "btn btn-default" %>
  </div>
<% end %>