<%= form_for(@user, url: user_profile_path(@user), html: {method: :put}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <script>
      $(function(){
        $('#user_profile_birthdate').datepicker({
          format: "dd/mm/yyyy",
          startDate: "01/01/1900",
          endDate: "<%= Date.today %>",
          defaultViewDate: {year: 1990, month: 01, day: 01}
        });
      })
    </script>
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate, class: "form-control", placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :file %>
    <%= image_tag @user_profile.avatar_url %>
  </div>
  <div>
    <%= f.submit "Update", class: "btn btn-default" %>
  </div>
<% end %>