<%= form_for(@post) do |f| %>
  <% if false && @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %></div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="field">
    <% @categories.each do |category| %>
      <% if @post.categories.include? category %>
        <%= check_box_tag "category_ids[]", category.id, "checked" %> <%= category.name %>
      <% else %>
        <%= check_box_tag "category_ids[]", category.id %> <%= category.name %>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= render 'posts/quill' %>
    <%= f.hidden_field :content %>
  </div>
  <div class="actions">
    <script>
      $(function() {
        $('form').on('submit', function(e){
          // $('#post_content').val($('#ql-editor-1').html());
          $('#post_content').val(advancedEditor.getHTML());
        });
      });
    </script>
    <%= f.submit "Post", class: "btn btn-default" %>
  </div>
<% end %>
