<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.admin.email %></td>
    <td><%= post.categories.pluck(:name) %></td>
    <td>
      <%= link_to "Show", post, class: "label label-default" %>
      <% if current_user && current_user.is_admin? %>
        <%= link_to "Edit", edit_post_path(post), class: "label label-primary" %>
        <%= link_to "Destroy", post, method: :delete, data: {confirm: "Are you sure?"}, class: "label label-warning" %>
      <% end %>
    </td>
  </tr>
<% end %>